<!DOCTYPE html>
<html lang="en">
  <%- include('header', { title: 'Express with EJS' }) %>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('navbar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <%- include('sidebar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Welcome Manindar</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card-people mt-auto">
                  <img src="images/dashboard/people.svg" alt="people" />
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 id="temperature" class="mb-0 font-weight-normal">
                          <i class="icon-sun mr-2"></i>Loading...
                        </h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Abbotsford</h4>
                        <h6 class="font-weight-normal">Canada</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-md-6 grid-margin transparent"
                id="dashboardData"
              ></div>
            </div>
          </div>
          <%- include('footer') %>
        </div>
      </div>
    </div>
    <%- include('foot') %>

    <script>
      function fetchTemperature() {
        const apiKey = "d1e59e93ff65fb9fd12e8f144eafe6ae";
        const city = "Abbotsford";
        const countryCode = "CA";
        const apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=${city},${countryCode}&appid=${apiKey}&units=metric`;

        fetch(apiUrl)
          .then((response) => response.json())
          .then((data) => {
            const temperature = data.main.temp;
            document.getElementById(
              "temperature"
            ).innerHTML = `<i class="icon-sun mr-2"></i>${temperature.toFixed(
              0
            )}<sup>C</sup>`;
          })
          .catch((error) => {
            console.error("Error fetching temperature:", error);
            document.getElementById("temperature").innerHTML = "N/A";
          });
      }
      fetchTemperature();
      setInterval(fetchTemperature, 3600000);

      fetch("https://api.maninderrealestate.com/api/admin/dashboard/details")
        .then((response) => response.json())
        .then((data) => {
          const dashboardData = document.getElementById("dashboardData");
          // Loop through the data and create HTML for each item
          const html = `
            <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">Total Blogs</p>
                            <p class="fs-30 mb-2">${data.blogPostCount}</p>
                            <p>10.00% (30 days)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                        <div class="card-body">
                            <p class="mb-4">Total Properties</p>
                            <p class="fs-30 mb-2">${data.propertyCount}</p>
                            <p>22.00% (30 days)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                    <div class="card card-light-blue">
                        <div class="card-body">
                            <p class="mb-4">Total Testimonials</p>
                            <p class="fs-30 mb-2">${data.testimonialCount}</p>
                            <p>2.00% (30 days)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                    <div class="card card-light-danger">
                        <div class="card-body">
                            <p class="mb-4">Number of Enquiries</p>
                            <p class="fs-30 mb-2">${data.contactCount}</p>
                            <p>0.22% (30 days)</p>
                        </div>
                    </div>
                </div>
            </div>
        `;
          dashboardData.innerHTML = html;
        })
        .catch((error) => console.error("Error fetching data:", error));
    </script>
  </body>
</html>
