<!DOCTYPE html>
<html lang="en">
  <%- include('../../header', { title: 'Express with EJS' }) %>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('../../navbar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <%- include('../../sidebar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-header">
                            <div class="d-flex justify-content-between">
                              <h3 class="card-title">Blogs Details</h3>
                              <div class="d-flex justify-content-between">
                                <a
                                  href="/blog-create"
                                  class="btn btn-primary btn-sm mr-2"
                                  >Add new</a
                                >
                              </div>
                            </div>
                          </div>
                          <div class="card-body">
                            <div
                              id="tb1_wrapper"
                              class="dataTables_wrapper dt-bootstrap4"
                            >
                              <div class="row">
                                <div class="col-sm-12">
                                  <table
                                    id="tb1"
                                    class="table table-bordered table-striped dataTable dtr-inline"
                                    role="grid"
                                    aria-describedby="tb1_info"
                                  >
                                    <thead>
                                      <tr role="row">
                                        <th
                                          class="sorting_asc"
                                          tabindex="0"
                                          aria-controls="tb1"
                                          rowspan="1"
                                          colspan="1"
                                          aria-label="#: activate to sort column descending"
                                          aria-sort="ascending"
                                        >
                                          #
                                        </th>
                                        <th
                                          class="sorting"
                                          tabindex="0"
                                          aria-controls="tb1"
                                          rowspan="1"
                                          colspan="1"
                                          aria-label="Title: activate to sort column ascending"
                                        >
                                          Title
                                        </th>
                                        <th
                                          class="sorting"
                                          tabindex="0"
                                          aria-controls="tb1"
                                          rowspan="1"
                                          colspan="1"
                                          aria-label="Show In: activate to sort column ascending"
                                        >
                                          Author
                                        </th>
                                        <th
                                          class="sorting"
                                          tabindex="0"
                                          aria-controls="tb1"
                                          rowspan="1"
                                          colspan="1"
                                          aria-label="Photo: activate to sort column ascending"
                                        >
                                          Photo
                                        </th>
                                        <th
                                          class="sorting"
                                          tabindex="0"
                                          aria-controls="tb1"
                                          rowspan="1"
                                          colspan="1"
                                          aria-label="Status: activate to sort column ascending"
                                        >
                                          Create At
                                        </th>
                                        <th
                                          class="sorting"
                                          tabindex="0"
                                          aria-controls="tb1"
                                          rowspan="1"
                                          colspan="1"
                                          aria-label="Action: activate to sort column ascending"
                                        >
                                          Action
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody id="blogPostsBody"></tbody>
                                    <tfoot>
                                      <tr>
                                        <th rowspan="1" colspan="1">#</th>
                                        <th rowspan="1" colspan="1">Title</th>
                                        <th rowspan="1" colspan="1">Author</th>
                                        <th rowspan="1" colspan="1">Photo</th>
                                        <th rowspan="1" colspan="1">
                                          Create At
                                        </th>
                                        <th rowspan="1" colspan="1">Action</th>
                                      </tr>
                                    </tfoot>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('../../footer') %>
        </div>
      </div>
    </div>
    <%- include('../../foot') %>

    <!-- blog show list -->
    <script>
      $(document).ready(function () {
        $.get(
          "https://backend.artechworld.tech/api/admin/blog/all-blog-posts",
          function (data) {
            console.log(data);
            if (data.data && data.data.length > 0) {
              data.data.forEach(function (post, index) {
                const createdAt = new Date(post.created_at);
                const formattedDate = `${createdAt.getDate()} ${getMonthName(
                  createdAt.getMonth()
                )} ${createdAt.getFullYear()}`;
                $("#blogPostsBody").append(`
                              <tr>
                                  <td>${index + 1}</td>
                                  <td>${post.title}</td>
                                  <td>${post.author}</td>
                                  <td><img src="https://backend.artechworld.tech/uploads/blogs/tImages/${
                                    post.mainImage
                                  }" width="200px" class="img-thumbnail"/></td>
                                  <td>${formattedDate}</td>
                                  <td>
                                      <a href="#" onclick="deletePost('${
                                        post._id
                                      }'); return false;"><i class="fa fa-trash"></i></a>
                             
                                  </td>
                              </tr>
                          `);
                $("#tb1").DataTable();
              });
            } else {
              console.log("No data found");
            }
          }
        );
      });

      function getMonthName(monthIndex) {
        const months = [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ];
        return months[monthIndex];
      }

      function deletePost(postId) {
        if (confirm("Are you sure you want to delete this post?")) {
          $.ajax({
            url: `https://backend.artechworld.tech/api/admin/blog/delete/${postId}`,
            type: "DELETE",
            success: function (result) {
              alert("Post deleted successfully.");
              location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
              alert("Error deleting post.");
            },
          });
        }
      }
    </script>
  </body>
</html>
